<div class="container">
    <h3>Solitan Dev Akatemiasta nostetta devaajan uralle tehtävä</h3>

    <dl>
        <dt><a class="etusivulinkki" routerLink="/howManyOrderAndVaccines">Kuinka monta tilausta ja rokotetta saapunut yhteensä</a></dt>
        <dd>- Voidaan antaa alku ja loppupäivä miltä ajalta haetaan tiedot</dd>
        <dd>- Oletuksena 1.1.2021 kello 00.00 ja kuluva aika</dd>
        <dd>- Palauttaa kpl määrissä rokotteet ja tilaukset</dd>

        <dt><a class="etusivulinkki" routerLink="/howManyVaccinations">Kuinka monta rokotetta on käytetty</a></dt>
        <dd>- Voidaan antaa alku ja loppupäivä miltä ajalta haetaan tiedot</dd>
        <dd>- Oletuksena 1.1.2021 kello 00.00 ja kuluva aika</dd>
        <dd>- Palauttaa kuinka monta rokotetta on käytetty</dd>

        <dt><a class="etusivulinkki" routerLink="/manyOrderAndVaccinesPerProducer">Kuinka monta tilausta/rokotetta tuottajaa kohden</a><dt></dt>
        <dd>- Voidaan antaa alku ja loppupäivä miltä ajalta haetaan tiedot</dd>
        <dd>- Oletuksena 1.1.2021 kello 00.00 ja kuluva aika</dd>
        <dd>
            - Palauttaa kuinka monta kutakin rokotetta on saapunut pulloa ja
            rokoteannosta
        </dd>

        <dt><a class="etusivulinkki" routerLink="/howManyBottlesExpired">Kuinka monta pulloa on vanhentunut tiettynä päivänä</a></dt>
        <dd>- Voidaan antaa haluttu päivä</dd>
        <dd>- Oletuksena kuluva aika</dd>
        <dd>- Palauttaa miten monta pulloa mitäkin rokotetta on vanhentunut</dd>

        <dt><a class="etusivulinkki" routerLink="/howManyVaccinesExpired">Kuinka monta rokotetta vanhenee ennen käyttöä</a></dt>
        <dd>- Voidaan antaa haluttu päivä</dd>
        <dd>- Oletuksena kuluva aika</dd>
        <dd>- Palauttaa rokotevalmistajittain</dd>
        <dd>** Kuinka monta pulloa on tullut</dd>
        <dd>** Kuinka monta rokotetta on tullut</dd>
        <dd>** Kuinka monta rokotetta on käytetty</dd>
        <dd>** Vanhentuneet rokotteet</dd>
        
        <dt><a class="etusivulinkki" routerLink="/howManyVaccinesAreLeftToUse">Kuinka monta rokotetta on jäljellä</a></dt>
        <dd>- Voidaan antaa haluttu päivä</dd>
        <dd>- Oletuksena kuluva aika</dd>
        <dd>- Palauttaa rokotevalmistajittain</dd>
        <dd>** Kuinka monta pulloa on tullut</dd>
        <dd>** Kuinka monta rokotetta on tullut</dd>
        <dd>** Kuinka monta rokotetta on käytetty</dd>
        <dd>** Kuinka monta rokotetta on jäljellä</dd>
        
        <dt><a class="etusivulinkki" routerLink="/howManyVaccinesExpireNext10Days">Kuinka monta rokotetta vanhenee seuraavan 10 päivän aikana</a></dt>
        <dd>- Voidaan antaa haluttu päivä</dd>
        <dd>- Oletuksena kuluva aika</dd>
        <dd>- Palauttaa rokotevalmistajittain</dd>
        <dd>** Kuinka monta pulloa on tullut</dd>
        <dd>** Kuinka monta rokotetta on tullut</dd>
        <dd>** Kuinka monta rokotetta on käytetty</dd>
        <dd>** Kuinka monta rokotetta vanhenee seuraavan 10 päivän aikana</dd>
    </dl>
</div>