<div class="container">
  <div class="howManyBottlesExpired">
    <div class="input-group mb-3">
      <p>Jos rajausta ei syötetä, rajausarvona käytetään {{paiva | date: 'd.M.YYYY H:mm'}}</p>
    </div>
    <div class="input-group mb-3">
      <form #f="ngForm" (ngSubmit)="howManyBottlesExpired(f)" novalidate>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Päivä</span>
          </div>
          <input type=datetime-local class="form-control" name="date" ngModel required>
        </div>

        <button type="submit" class="btn btn-primary">Näytä</button>
      </form>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Rokote</th>
          <th scope="col">Määrä</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vo of manyProducer">
          <td>{{vo._id.rokote}}</td>
          <td>{{vo.kpl}}</td>
        </tr>
        <tr>
          <th scope="col">Yhteensä</th>
          <th scope="col">{{maara}}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>